@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nanum+Myeongjo&display=swap');

/* 1500px */
@media all and (max-width:1500px) {
    #inner {
        width: 90% !important;
    }

    #section1 .title {
        font-size: 4em !important;
    }

    #section2 #inner .introduce .Box .contBox1 a .txt,
    #section2 #inner .introduce .Box .contBox2 a .txt,
    #section2 #inner .introduce .Box .contBox3 a .txt{
        padding: 30px 21px !important;
    }

    #section3 #inner .content {
        width: 70% !important;
    }
    #section3 #inner .content>.leftBox:before,
    #section3 #inner .content>.rightBox:before {
        width: 460px !important;
    }


    #section4 #inner .slideBox .list .slick-dots button:before,
    #section4 #inner .slideBox .list .slick-dots .slick-active:after{
        left: -35px !important;
    }


    #section5 #inner .content .box .t-box {
        font-size: 1.5em !important;
    }
}

/* 1200px~1499px */
@media screen and (min-width: 1200px) and (max-width: 1499px) {
    #inner {
        width: 90% !important;
    }


    #section1 .title {
        font-size: 3.5em !important;
    }

    #section2 #inner .introduce .tit {
        font-size: 2.5em !important;
    }
    #section2 #inner .introduce .tit>p {
        font-size: 16px;
    }
   
}